<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beylands Admin</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="public/css/style.css"> -->
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/orders.css">
    <link rel="stylesheet" href="public/css/products.css">

    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="public/js/bootstrap.bundle.js"></script> -->

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
    </body>
</head>

<body>
    <div class="header">
        <div class="logos">
            <div class="logos-word">
                <h1>BEY<span>LANDS</span><sub>ADMIN</sub></h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="side-container">

            <div class="btn-dash" id="dashID">
                dashboard
            </div>

            <hr>
            <a href="/orders">
                <div class="btn-orders" id="ordersID">
                    Orders
                </div>
            </a>
            <hr>
            <a href="#">
                <div class="btn-product" id="productID">
                    products
                </div>
            </a>
            <hr>
            <div class="btn-product-overlay" id="btn-product-overlayID">
                <a href="/show-product">
                    <div class="btn-product-overlay-1" id="show-productID">
                        <div class="text">
                            Show Products
                        </div>
                    </div>
                </a>
                <a href="/#">
                    <div class="btn-product-overlay-2" id="show-manageID">
                        <div class="text">
                            Manage Products
                        </div>
                    </div>
                </a>
                <hr style="margin-left: -15px;">

            </div>
            <div class="btn-logout" id="logoutID">
                <a href="/logout">logout</a>
            </div>
        </div>

        <div class="main-container">
            <!-- ORDER LAYOUT -->
            <div class="dash-content" id="dash-contentID">
                DASHBOARD
            </div>
        </div>
    </div>

    <script src="/public/js/admin-page.js"></script>


</body>

</html>