*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.logos {
    cursor: default;
    margin: 1rem;
}
.logos-word {
    width: 100px;
}
h1 {
    font-family: 'Alfa Slab One', cursive;
    color: #39ca74;
    padding: 0;
    text-align: center;
    margin: auto;
    /* text-shadow: 1px 3px 2px rgba(10, 0, 0, 0.801); */
}
sub {
    font-size: 19px;
    letter-spacing: 3px;
    margin-left: 5px;
}

span {
    color: yellow;
}
.header {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #282828, #424242);
    position: fixed;
    z-index: 2;
    top: 0;
    border-bottom-style: outset;
}
.wrapper{
    margin-top: 83px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.side-container{
    position: fixed;
    width: 15%;
    height: 90%;
    background:#39ca74;
    z-index: 0;
    text-transform: capitalize;
    font-size: 19px;
    /* letter-spacing: 2px; */
}
.main-container{
    position: absolute;
    right: 0;
    width: 85%;
    height: 88%;
    background:white;
    /* background:#39ca74; */
}
.btn-dash,
.btn-dash:hover {
    cursor: pointer;
}

.dash-content {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    /* background: white; */
    display: flex;
}
.btn-orders,
.btn-orders:hover{
    cursor: pointer;
}

.btn-product,
.btn-product:hover{
      cursor: pointer;
}
a:hover,
a {
    text-decoration: none;
    color: black;
}
.btn-product-overlay{
    width: 100%;
    display: none;
    border-width: 1px;
    text-align:start;
}
.text{
    margin: 0.5rem;
    padding: 0;
}
.btn-product-overlay-1:hover,
.btn-product-overlay-2:hover {
    cursor: pointer;
    background: #eeeeee;    
}
.product-content {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    /* background: white; */
}
.btn-list{
    width: 100%;
    height: auto;
    border-bottom:#39ca74;
    border-bottom-width: 5px;
    border-bottom-style: inset;
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.btns{
    max-width: 220px;
    text-align: center;
    text-transform: uppercase;
    border-color: white;
    border-width: 1px;
}
.dropdown-menu a{
    /* background: green; */
    display: block;
    text-align: center;
}

.product-content button{
    width: 80px;
    height: 10%;
}
.list-items{
    width: 100%;
    height: 90%;
    background:#c9c9c94d;
    overflow: auto;
     border-collapse: collapse;
}
.list-items thead th {
    position: sticky;
    top: -1px;
}
table{
    border-collapse: collapse;
    width: 100%;
    
}
table:hover{
    cursor:default;
}
th {
    background: #c9c9c9;
}