.btn-product,
.btn-product:hover {
    cursor: pointer;
}
.btn-product-overlay {
    width: 100%;
    display: none;
    border-width: 1px;
    text-align: start;
}
body{
    overflow-y: hidden;
}
.text {
    margin: 0.5rem;
    padding: 0;
}

.btn-product-overlay-1:hover,
.btn-product-overlay-2:hover {
    cursor: pointer;
    background: #eeeeee;
}
.product-content {
    width: 100%;
    position: absolute;

}
.btn-list {
    position: fixed;
    width: 85%;
    height: auto;
    background: rgb(255, 255, 255);
    padding:5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    border-bottom: 1px;
    border-bottom-color: grey;
    border-bottom-style: solid;
}
.dropdown-menu a {
    /* background: green; */
    display: block;
    text-align: center;
}
/* .btn-list-ARU{
    display: inline;
    background: gray;
} */
.product-content button {
    width: auto;
}

.list-items {
    width: 97%;
    height:100%;
    border-collapse: collapse;
    margin: 1rem;
    font-size: 14px;
    background: rgb(255, 255, 255);  
    margin-top: 60px;
}

.list-items thead th {
    position: sticky;
    top: -1px;
}

table {
    border-collapse: collapse;
    width: 100%; 
    text-align: center;
}
table:hover {
    cursor: default;
}

th {
    background: #ffffff;
    text-align: center;
    text-transform: capitalize;

}
td{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 30px;
}
.dataTables_length{
     /* display: none; */
     font-size: 15px;
}
.dataTables_filter input{
    border-radius: 5px;
}

/* manage product */
.manage-content{
    display: none;
}