*{
    margin: 0;
    padding: 0;
}
body{
    background:#39ca74;
    height:100%;
   
}
.logo {
    cursor: default;
}
.logo-word {
    width:auto;
}
h1 {
    font-family: 'Alfa Slab One', cursive;
    color: #39ca74;
    padding: 0;
    text-align: center;
    margin: auto;
    font-size: 55px;
}
span {
    color: yellow;
}
.container{
    background: white;
    width: 40%;
    height: 500px;
    padding-top:2rem ;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow:2px 5px 15px 1px;
    opacity: 0;
    transform: scale(0.6);
}
.form-group{
    width: 60%;
}
input{
    text-align: center;
}
.login{
    width: 60%;
}
.login a{
    text-decoration: none;
    color: white;
}
.credentials{
    width: auto;
    height: auto;
    display: flexbox;
    align-items: center;
}

img{
    margin-right: 30px;
    margin: 5px;
    background:transparent;
    width: 30px;
    background-repeat: no-repeat; 
}
.btn-google{
    width: 200px;
    /* border-width: 1px; */
    /* border-color: rgb(87, 87, 87); */
    border: none;
}
